.card {
    padding: 1%;
    box-shadow: 10px 10px 20px grey;
}

.card_body > .heading {
    font-size: var(--headlineLarge);
    font-weight: 400;
}

.card_body > .body {
    font-size: var(--bodyLarge);
}