.heading {
    font-size: var(--headlineLarge);
    font-weight: 700;
    text-align: end;
    padding-top: 3%;
    padding-right: 20%;
}

.org-heading{
  display: flex;
  justify-content: center;
  
}

.org-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-row div{
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin: .5rem 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.142);
  border: 1px solid black;
  cursor: pointer;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-clip: border-box !important;
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}

.org-row p{
  font-size: medium;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.56);
  border-radius: 5px;
  padding: .25rem 1rem;
}

