.nav_tab {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.header-menu-items{
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-items li{
  padding: 0 1rem;

}

.header-label{
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 50px;
  height: auto;
}

.header-login-btn>a> button{
  margin: 0 .5rem;
  padding: 5px 1rem;
  border: 2px solid var(--primaryColor);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.header-login-btn>a:first-child button{
  background-color: var(--primaryColor);
}

.header-login-btn>a:last-child button{
  background-color: white;
}