@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, .root{
  padding: 0px;
}

* {
  --displayLarge: 64px;
  --displayMedium: 45px;
  --displaySmall: 36px;
  --headlineLarge: 28px;
  --headlineMedium: 24px;
  --headlineSmall: 18px;
  --titleLarge: 22px;
  --titleMedium: 16px;
  --titleSmall: 14px;
  --lableLarge: 14px;
  --lableMedium: 12px;
  --lableSmall: 11px;
  --bodyLarge: 16px;
  --bodyMedium: 14px;
  --bodySmall: 12px;

  --primaryColor:#2EC5BC;
  --buttonColor: #27305E;

  font-family: 'Poppins', sans-serif;
  margin: 0;
}


