@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  --displayLarge: 64px;
  --displayMedium: 45px;
  --displaySmall: 36px;
  --headlineLarge: 32px;
  --headlineMedium: 28px;
  --headlineSmall: 24px;
  --titleLarge: 22px;
  --titleMedium: 16px;
  --titleSmall: 14px;
  --lableLarge: 14px;
  --lableMedium: 12px;
  --lableSmall: 11px;
  --bodyLarge: 16px;
  --bodyMedium: 14px;
  --bodySmall: 12px;

  --primaryColor:#2EC5BC;
  --buttonColor: #27305E;

  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 2px;
}

